* {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  padding: 1.2%;
}

input {
  color: blue;
  font-size: .9rem;
  width: 50%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 5.4px;
  overflow: hidden;
  margin-bottom: 10%;
  margin-right: 10%;
}

.card p {
  padding: 3px;
  text-align: center;
}

.card img {
  max-height: 180px;
}